/a.drawio
/a.jpg
/aaaaaa.jpg
/aaaaab.jpg
/aaaaac.jpg
/b.jpg
/bbbbbb.jpg
/bc8bdffb3726e426b6b4336d6d4ca119_t.jpeg
/cccccc.jpg
/dddddd.jpg
/desktop.ini
/eclipse.exe - ショートカット.lnk
/face_rectangle.jpg
/main.jsp
/old
/other
/src_gray.jpg
/src_hsv.jpg
/std (192.168.1.30) - ショートカット.lnk
/std_sub (192.168.1.31) - ショートカット.lnk
/Study.lnk
/Visual Studio Code.lnk
/データベース設計書_0630.xlsx